# Ignore Go build artifacts and temporary files
*.exe
*.bin
*.test
*/tmp/
vendor/ # If you're not vendoring dependencies within the image

# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# Ignore common development tools and configurations
.git
.gitignore
.env
.idea/
.vscode/
.DS_Store

# Ignore documentation and markdown files (unless needed in the image)
*.md
docs/

# Ignore log files and other runtime artifacts
*.log

*.yml
*.md
.devcontainer/
.dockerignore
.env*
.github/
*.dev
*.http
Dockerfile